.Dictionary section {
	box-shadow: 0px 30px 50px rgba(65, 50, 100, 0.1);
  border-radius: 8px;
  margin-top: 10px;
  padding: 40px;
  background: rgb(255, 236, 211); 
}

.Dictionary .search-input {
  height: 48px;
  font-size: 18px;
  padding: 18px;
  width: 100%;
	background: rgb(249, 247, 247, 0.3);
  border-radius: 24px;
}

.Dictionary .hint {
  margin-top: 15px;
  display: block;
}